
header,footer{
  background-color: cornflowerblue;
  padding:1em;
  } 
  
header, main, footer{
    margin:0 auto;
    max-width:760px;

}
body{
    background-color: honeydew;
}
header img{
  float:right;
  width:150px;
  height:auto;
  margin-top:-10px;
}