body {
	background-color: #F2F3F2;
	padding: 0;
	margin: 0;
	font-family: 'Noto Serif', serif;
}

header {
	background-color: #0B3636;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    color:#57E405;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
h1,h2,h3,h4,h5{
	font-family: 'Josefin Sans', sans-serif;
}

.motto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #57E405;
	margin-left: 20px;
	font-size: .9rem;
}

.preston{
    text-align: center;
    
}
.content{
    display:block;
    margin:10px auto;
	margin-left:3rem;
    margin-right:3rem;
    border:10px auto;
    padding:1.5em;
    background-color: rgb(209, 193, 193);
	
}

footer{
	background-color: #0B3636;
	color:#57E405;
	padding:0.4em;
	text-align:center;
	font-family:'Josefin Sans', sans-serif;
	font-size: large;
}
.footer{
	color:#57E405;
}
nav {
	margin: 0 auto;
	
	background-color: #0B3636;
	max-width:100%
}
#navigation {
	list-style: none;
	padding: 0;
}


#navigation li {
	display: block;
}
#navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #57E405 ;
	font-weight: 700;
	font-family:'Josefin Sans', sans-serif;
	font-size: large;
}
#navigation a:hover {
	color: white;
	background-color: black;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
button{
	background-color: #0B3636;
	color:#57E405;
	font-size: larger;
	width:100%;
	font-family:'Josefin Sans', sans-serif;
}
nav ul.hide{
	display:none;
}