@media only screen and (min-width:950px){
body{
  
   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: rgb(2, 2, 63);
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1em;
    padding: 1.5rem 1.5rem 1.5rem 3.5rem;
    grid-area: main;
    width: 90%;
    text-align: center;
    
}


.fitts{
    background-color: rgb(238, 175, 175);
    
    justify-self: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    
 
}
.visual{
    background-color: rgb(238, 175, 175);;
    
    justify-self: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
    

}
.hicks{
    background-color: rgb(238, 175, 175);
    
    justify-self: center;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

h3{
    background-color: rgb(238, 175, 175);;
    
    
    padding:1em;
    margin-top: -5px;

}
p{
    background-color: rgb(238, 175, 175);
    border-radius: 0px 0px 15px 15px;
    margin-top:-5px;
    padding:2em;
    font-family: 'Cantata One', serif;

}
h4{
    background-color: white;
    padding:1em;
}
 a{
color:blue;

}
header{
    margin: 1.25rem auto;
    max-width: 50rem;
    text-align:center;
    background-color: blanchedalmond;
    border-radius: 10px;
    overflow: hidden;

}
img{
    width: 360px;
    height:392px;
}
h1,h2,h3,h4{
    font-family: 'Noto Sans JP', sans-serif
}

footer {
    text-align: center;
    background-color: blanchedalmond;
    padding: 1rem;
    color: black;
    margin: 1.25rem auto;
    max-width: 50rem;
    border-radius: 10px;
    
}
.footer{
    background-color: blanchedalmond; 
    
}
section {
    border-radius: 10px;
    
    overflow: hidden;
}
}