@media only screen and (max-width: 894px) and (min-width: 650px) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:0.5emem;
        
        
        width: 90%;
        text-align: center;
        
    }
   
}