@media only screen and (max-width: 649px) {
    main {
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr;
        grid-gap: 1em;
    }
   
    section img {
        max-width: 400px;
    }
    
}
.fitts{
    grid-row:1;
    grid-column:1;
}
.visual{
    grid-row:2;
    grid-column:1;
}
.hicks{
    grid-row:3;
    grid-column:1;
}
header,footer{
    justify-self: center;
}