@media only screen and (min-width: 992px)    {
#navigation {
	display: flex;
	}
	
#navigation li {
	display: block; /* change state in small view */
	flex: 1 1 auto;
}
#navigation a {
	text-align: center;
}
nav button{
	display:none;
}

.headings h1 {
    font-size: 3rem;
}

.motto {
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
}

#p-image{
	width:200px;
	height:200px;
	float: right;
}

.forecast{
	display: flex;
	flex-direction:row;
	max-width:50%;
	margin:50px auto;
	
}
#forecast{
	text-align: center;
}
#headerimage {
	width:80%;
	height:400px;
	margin-left:110px;
}	
main{
	margin-left:5rem;
	margin-right:5rem;
}
.weathersummary{
    display:block;
	width:200px;
	height:200px;
	padding: 0.5em;
    color:#57E405;  
    background-color: #0B3636;
	opacity:0.7;
	position:absolute;
	margin-left: 10rem;
	margin-top: 5rem;
}
.article{
	padding: 5em;
	border-radius:5px;
	background-color: grey;
	margin-left:5rem;
	margin-right:5rem;
	
}
.headerimage{
	margin:100px;
}	
#forecastheader{
	display:block;
	
}
.upcomingevents{
	background-color:  #0B3636;
	text-align:center;
	width:50%;
	padding:1em;
	margin-bottom:5rem;
	margin-left:15em;
	font-size: larger;
	color:#57E405;
		}
.contactinfo{
	border-style: double ;
	width:60%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:auto;
	margin-bottom: 20px;
}
#mapimage{
	grid-column: 1;
	border-style:inset;
}
#paragraph{
	margin-top: 20px;
	margin-left: 20px;
	grid-column:2;
}
#h-image{
	margin:auto;
	}



}

