@media only screen and (min-width: 649px)    {
    main{
        margin-left:2rem;
        margin-right:2rem;
    }
    #navigation {
        display: flex;
        }
        
    #navigation li {
        display: block; /* change state in small view */
        flex: 1 1 auto;
    }
    #navigation a {
        text-align: center;
    }
    nav button{
        display:none;
    }
    
    
    
    
    
    
    .headings h1 {
        font-size: 3rem;
    }
    
    .motto {
        letter-spacing: 1.5pt;
        font-size: larger;
        margin-left: 17px;
    }
    
    #p-image{
        width:200px;
        height:200px;
        float: right;
    }
    .forecast{
        display: flex;
        flex-direction:row;
        max-width:50%;
       margin-top:30px;
        
    }
    #forecastheader{
        display:inline;
        margin-top:30px;
    }
    
    #mapimage{
        display:block;
    }
    
    
    
   }
    