@media only screen and (min-width: 992px)  {
#navigation {
	display: flex;
	}
	
#navigation li {
	display: block; /* change state in small view */
	flex: 1 1 auto;
}
#navigation a {
	text-align: center;
}
nav button{
	display:none;
}

.headings h1 {
    font-size: 3rem;
}

.motto {
    letter-spacing: 1.5pt;
    font-size: larger;
    margin-left: 17px;
}

#p-image{
	width:200px;
	height:200px;
	float: right;
}

.forecast{
	display: flex;
	flex-direction:row;
	max-width:50%;
	margin:50px auto;
	
}
#forecast{
	text-align: center;
}
#headerimage {
	width:80%;
	height:400px;
	margin-left:110px;
}	
main{
	margin-left:5rem;
	margin-right:5rem;
}
.weathersummary{
    display:block;
	width:200px;
	height:200px;
	padding: 0.5em;
    color:#57E405;  
    background-color: #0B3636;
	opacity:0.7;
	position:absolute;
	margin-left: 10rem;
	margin-top: 5rem;
}
.article{
	padding: 5em;
	border-radius:5px;
	background-color: grey;
	margin-left:5rem;
	margin-right:5rem;
	margin-top: 5em;
}
.article p, .article h3{
	color:black;
	
}
.headerimage{
	margin:100px;
}	
#forecastheader{
	display:block;
	
}
.upcomingevents{
	background-color:  #0B3636;
	text-align:center;
	width:50%;
	padding:1em;
	margin-bottom:5rem;
	margin-left:15em;
	font-size: larger;
	color:#57E405;
}
.contactinfo{
	border-style: double ;
	width:60%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:auto;
	margin-bottom: 20px;
}
#mapimage{
	grid-column: 1;
	border-style:inset;
}
#paragraph{
	margin-top: 20px;
	margin-left: 20px;
	grid-column:2;
}
#h-image{
margin:auto;
}
.cards{
	display: grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-gap: 3em;
}
.cards section{
	display:grid;
	background-color: #0B3636;
    text-align: center;
    padding:  0px;
	width:85%;
	height:99%;
    border: 1px solid rgb(78, 85, 103);
	margin-top:30px;
 }
#prestonrainbow-card{
	grid-column: 1;
	grid-row: 1;
}
#fishhaven-card{
	grid-column: 3;
	grid-row: 1;

}

#sodaspring-card{
grid-column: 2;
}
.town-details h2{
	color:#57E405;
	
	
}
.town-details h3{
	font-size: smaller;
}


.town-details h2, h3, p {
	color:#57E405;
	
	
}
.cards section img{
	margin-bottom:10px;
}

.cards section img{
	margin-bottom:10px;
}


#paragraph p{
	color:black;
}
.gallery{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}
.galleryimg:hover {box-shadow: 0 0 50px #333;}

form{
	background-color: #0B3636;
	color:#57E405;
	max-width: 630px;
	margin:auto;
	margin-top: 3em;
	margin-bottom: 3em;
	border-radius:10px;
	padding:1em;
}
form label.top input, form label.top select,form label.top datalist {
	display:block;
	font-size:1rem;
	border:solid 1px black;
	border-radius: 5px;
	padding:.75rem;
	width: 100%;
	max-width: 20rem;
}
form label.top, form div{
	display:block;
	padding-top:1rem;
	font-size:20px;
	max-width: 20rem;

}
#weatherinfo{
	text-align: center;
	}


.contactinfo{
	border-style: double ;
	width:60%;
	display:grid;
	grid-template-columns: 1fr 1fr;
	margin:auto;
	margin-bottom: 20px;
	padding:1em;
}
}