body {
	background-color: #F2F3F2;
	padding: 0;
	margin: 0;
	font-family: 'Noto Serif', serif;
}

header {
	background-color: #0B3636;
	padding: 5px 0;
	display: flex;
	align-items:center;
	justify-content:center;
    color:#57E405;
}

header img {
	width: 80px;
	height: auto;
}

.headings {
	display: flex;
	flex-direction: column;
}

.weathersummary{
	position:absolute;
    display:block;
	width:180px;
	height:180px;
	padding: 0.3em;
    color:#57E405;  
    background-color: #0B3636;
	opacity:0.7;
}


.headings h1 {
	font-size: 1.6rem;
	margin: 0 0 0 17px;
}
h1,h2,h3,h4,h5{
	font-family: 'Josefin Sans', sans-serif;
}

.motto {
	font-style: italic;
	letter-spacing: 1pt;
	color: #57E405;
	margin-left: 20px;
	font-size: .9rem;
}

.townheader{
    text-align: center;
    
}

footer{
	background-color: #0B3636;
	color:#57E405;
	padding:0.4em;
	text-align:center;
	font-family:'Josefin Sans', sans-serif;
	font-size: large;
}
.footer{
	color:#57E405;
}
nav {
	margin: 0 auto;
	
	background-color: #0B3636;
	max-width:100%
}
#navigation {
	list-style: none;
	padding: 0;
}


#navigation li {
	display: block;
}
#navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: #57E405 ;
	font-weight: 700;
	font-family:'Josefin Sans', sans-serif;
	font-size: large;
}
#navigation a:hover {
	color: white;
	background-color: black;
}
.active{
	background-color:rgb(63, 109, 63);
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
button{
	background-color: #0B3636;
	color:#57E405;
	font-size: larger;
	width:100%;
	font-family:'Josefin Sans', sans-serif;
}
nav ul.hide{
	display:none;
}
main{
	margin-left:1rem;
	margin-right:1rem;
}




.details{
	padding-left: 5px;
    

	

}
.label{
	grid-column:1/2;
	margin-top: -10px;
	color: #57E405 ;
}
.value{
	grid-column:2/2;
	margin-left:-10px;
	margin-top: -10px;
	color:white;
}

	
	
	

#forecast{
	display:none;
}	
.forecast{
	
	display:none;
}
#forecastheader{
	display:none;
}
#mapimage{
	display: none;
}
	
.fore-box {
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	text-align: center;
	border-right: 1px solid black;
	flex:1 1 auto;
}
.fore-temp{
	display: block;
	padding: 0 5px 5px;
	font-size: 0.8rem;
	text-align: center;
}
.weekday {
	display: block;
	padding: 5px;
	border-bottom: 1px  #333;
	text-align: center;
	background-color: #0B3636;
	color:#57E405;
}
.sun{
	width:30px;
	height:30px;
}
.article{
	border-radius:5px;
	background-color: grey;
	padding:0.5em;
	margin-bottom:2em;
	margin-top: 2em;
}
#p-image{
	width:200px;
	height:200px;
	float: none;
	margin-left:2em;
}
aside{
	display: none;
	background-color:  #0B3636;
	color:#57E405;
	font-size: larger;
	padding:1em;
}
#forecastheader{
	text-align: center;
}
.forecast p{
	color:black;
}
.article h3{
	font-size: xx-large;
}
.events{
	background-color: #0B3636;
	color:#57E405;
	padding:0.5em;
	margin:auto;
	margin-bottom: 2em;
	width:60%;
	text-align: center;
	border-style: dotted;
}
.events p{
	color:#57E405;
}
#weatherinfo{
display: block;
}
.cards{
	display:flex;
	flex-direction:column;
	gap: 3em;
}


.cards section{
	background-color: #0B3636;;
    text-align: center;
    padding:  0px;
    width: 104%;
	height:50%;
    border: 1px solid rgb(78, 85, 103);
	color:#57E405;
}

.cards img{
	margin-bottom:-2px;
}
.contactinfo{
	border-style: double ;
	width:60%;
	display:grid;
	grid-template-columns:  1fr;
	margin:auto;
	margin-bottom: 20px;
	padding:1em;
}
/*------ Form-------*/
form{
	background-color: #0B3636;
	max-width: 320px;
	color:#57E405
 
}


form fieldset{
	margin: 0 2rem 2rem 2rem;
	border:1px solid #57E405;
	border-radius:10px;
	padding:.5rem 2%;
	
	
	
}
form legend{
	color:#57E405;
	margin: 0 1rem;
	padding: 0 0.5rem;
}

form label.top, form div{
	display:block;
	padding-top:1rem;
	font-size:20px;
	max-width: 12rem;
	
	
}
form label.top input, form label.top select,form label.top datalist {
	
	max-width: 12rem;
	

}
form label.sbs{
	display:block;
	padding: .75rem 0;
	max-width: 20rem;
	

}
form input.sbmit{
	border:none;
	color:#0B3636;
	border-radius:1rem;
	padding: 0.5rem;
	margin: 0 0 2rem 2rem;
}
.gallery{
	display:flex;
	flex-direction: column;
	
}
.gallery picture {
	margin:6px;
}
	
.galleryimg{
	border-style:inset;
}

.textbox{
	text-align:center;
	background-color:#0B3636;
	color:#57E405;
	max-width: 303px;
	margin-top:-5px;
}
